/* criando um estilo para o fundo de tela*/
body {
   /*background-image: url(../imagens/telafundo.jpg);*/
   background-color: rgb(80, 112, 139);
    
}

h1 {
    font-size: 18px;
    color: rgb(rgb(52, 180, 174), rgb(30, 84, 155), rgb(54, 139, 196));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Criando um estilo de classe*/
.cab_especial {
    font-size: 16px;
    font-weight: bolder;
    color: rgb(28, 65, 114);
}

.formatacao_campos {
    background-color: rgb(57, 201, 226);
}


/*criando um estilo para id*/
#cadastro {
    color: blueviolet;
    font-size: 12px;
}


/* criando um padrao de tamanho para os campos do formulario */
.campo_nome{
    width: 200px;
    background-color: aqua;
}

.campo_email {
    width: 300px;
    background-color: aqua;
}